html, body {
    font-family: sans-serif;
    font-size: 12px;
}
table {
    border-collapse: collapse;
    border: 1px solid #000000;
}

.over-text-more {
    white-space: nowrap; 
    writing-mode: vertical-rl; 
    text-orientation: mixed; 
    text-align: left; 
    background: orange;
    float: right;
}

.mydiv {
    border-top: 1px solid #000000;
    width: 100%;    
    text-align: center;
    white-space: nowrap;
    min-width: 25px;
    min-height: 20px;
}

.mydiv-date {
    border-top: 1px solid #000000;
    width: 100%;    
    text-align: center;
    white-space: nowrap;
    min-height: 20px;
}
.mydiv-date-bottom {
    border-top: 1px solid #ffffff;
    width: 100%;    
    text-align: center;
    white-space: nowrap;
    min-height: 20px;
}

.mydiv-date-sunday {
    border-top: 1px solid #000000;
    width: 100%;    
    text-align: center;
    white-space: nowrap;
    background-color: #dddddd;
    min-height: 20px;
}

.mydiv-plan-setup-machine {
    border-top: 1px solid #000000;
    width: 100%;    
    text-align: center;
    white-space: nowrap;
    background-color: #ffcc66;
    min-width: 25px;
    min-height: 20px;
}
.mydiv-plan-setup-machine-bottom {
    border-top: 1px solid #ffcc66;
    width: 100%;    
    text-align: center;
    white-space: nowrap;
    background-color: #ffcc66;
    min-width: 25px;
    min-height: 20px;
}
.mydiv-plan-setup-header {
    border-top: 1px solid #000000;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    background-color: #ccb3ff;
    min-width: 25px;
    min-height: 20px;
}
.mydiv-plan-over {
    border-top: 1px solid #000000;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    background-color: #ecde58;
    min-width: 25px;
    min-height: 20px;
}
.mydiv-plan-over-text {
    border-top: 1px solid #ecde58;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    background-color: #ecde58;
    min-width: 25px;
    min-height: 20px;
}
.mydiv-plan {
    border-top: 1px solid #000000;
    width: 100%;    
    text-align: center;
    white-space: nowrap;
    background-color: #ecde58;
    min-width: 25px;
    min-height: 20px;
}
.mydiv-plan-bottom {
    border-bottom: 1px solid #ecde58;
    width: 100%;    
    text-align: center;
    white-space: nowrap;
    background-color: #ecde58;
    min-height: 20px;
}

.mydiv-plan-virtual {
    border-top: 1px solid #000000;
    width: 100%;    
    text-align: center;
    white-space: nowrap;
    background-color: #535350;
    min-width: 25px;
    min-height: 20px;
}
.mydiv-plan-virtual-bottom {
    border-top: 1px solid #535350;
    width: 100%;    
    text-align: center;
    white-space: nowrap;
    background-color: #535350;
    min-height: 20px;
}

#msg_tooltip {
    width: 235px;
    border-radius: 6px;
    padding: 5px 0;
    text-align: left;
    position: fixed;
    z-index: 10;
    background-color: black;
    color: #fff;
    overflow: hidden;
    display: none;
}

.title{
    margin-bottom: 20px;
    width: 100%;
    background: rgba(91, 59, 33, 0.7);
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 17px 0px #4d321d inset;
    color:white;
    text-align:center;
}

button.fullscreen, .suggest {
    background-color: #58361a;
    color: white;
    border: none;
    box-shadow: 0px 0px 15px 0px #56402e inset;
}
